# Laravel Backend
/feedback-app/node_modules
/feedback-app/public/hot
/feedback-app/public/storage
/feedback-app/storage/*.key
/feedback-app/vendor
/feedback-app/.env
/feedback-app/.env.backup
/feedback-app/.env.production
/feedback-app/.phpunit.result.cache
/feedback-app/Homestead.json
/feedback-app/Homestead.yaml
/feedback-app/auth.json
/feedback-app/npm-debug.log
/feedback-app/yarn-error.log
/feedback-app/.fleet
/feedback-app/.idea
/feedback-app/.vscode
/feedback-app/storage/logs/*.log

# React Frontend
/feedback-frontend/node_modules
/feedback-frontend/.pnp
/feedback-frontend/.pnp.js
/feedback-frontend/coverage
/feedback-frontend/build
/feedback-frontend/.DS_Store
/feedback-frontend/.env.local
/feedback-frontend/.env.development.local
/feedback-frontend/.env.test.local
/feedback-frontend/.env.production.local
/feedback-frontend/npm-debug.log*
/feedback-frontend/yarn-debug.log*
/feedback-frontend/yarn-error.log*

# General
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
logs
.tmp